<header class="header">
    <div class="header__background">
        <nav class="header__menu">
            <a href="#">
                <img class="header__menu--hamburguer" src="./assets/images/ico-menu.svg" alt="navigation menu">
            </a>
        </nav>
        <h1 class="header__title">
            <span>anonymous</span>
            <span>proxy</span>
        </h1>
        <span class="header__subtitle">In hac habitase platea dictusmt.</span>
        <div class="header__arrow">
            <a href="#reasons">
                <img src="./assets/images/ico-scroll-down.svg" alt="click to scroll down">
            </a>
        </div>
    </div>
</header>