<section class="section">
    <div class="section__wrapper">
        <span class="section__tips">Insomnia tips</span>
        <h3 class="section__title">looking through a window</h3>
    </div>
    <p class="section__paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias officia eum
        officiis et nemo sit voluptates
        corrupti, delectus quam quisquam omnis exercitationem odit odio libero harum hic laudantium a numquam.
    </p>
    <button class="section__button">
        <a href="#">Go</a>
    </button>
</section>