<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anonymous Proxy</title>
  <link rel="icon" href="./favicon.jpg" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>

  <main>
    <partial src="_header.html" label="Header"></partial>
    <partial src="_section.html" label="Section"></partial>
    <partial src="_aside.html" label="Aside"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </main>

</body>

</html>