<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anonymous Proxy</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>

  <main>
    <header class="header">
      <div class="header__background">
        <div class="wrap-hamburguer"><a href="#"><img class="hamburguer" src="../assets/images/ico-menu.svg"
              alt="navigation menu"></a>

        </div>

        <h1 class="header__background--title">ANONYMOUS</h1>
        <h2 class="header__background--title">PROXY</h2>
        <span class="span">In hac habitase platea dictusmt.</span>
        <div class="arrow1"><a href="#"><img class="scroll" src="../assets/images/ico-scroll-down.svg"
              alt="click to scroll"></a></div>
      </div>
    </header>

    <section class="tips">
      <span class="section__tips">Insomnia tips</span>
      <h3>Looking Through A Window</h3>
      <p class="section__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias officia eum
        officiis et nemo sit voluptates
        corrupti, delectus quam quisquam omnis exercitationem odit odio libero harum hic laudantium a numquam.</p>
      <button class="go">
        <a href="#">Go</a>
      </button>
    </section>
    <section class="reasons">
      <h3>3 Reasons To Purchase</h3>
      <div class="reasons-container">
        <h4>Ut sed metus</h4>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <h4>Curabitur ac herat</h4>
        <p>Mauris mattis urna quis lorem molestie.</p>
        <h4>Morbi dictum</h4>
        <p>Aliquam in dolor et dolor tincidunt.</p>
        <button class="more-reasons">
          <a href="#">More reasons</a>
        </button>
      </div>
    </section>
  </main>

  <footer class="footer">
    <ul class="footer__links">
      <li><a href="#">Articles</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Reasons</a></li>
      <li><a href="#">Tips</a></li>
    </ul>
    <ul class="footer__social">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Mastodon.social</a></li>
    </ul>
    <div class="footer__copy">
      <span class="copy">©2017</span>
      <span class="copy">We 🧡 components</span>
    </div>

  </footer>
</body>

</html>