.footer {
    background-color: $footer-back;
    color: $white;
    padding-top: 60px;
    padding-bottom: 45px;
    line-height: 30px;
    position: relative;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__arrow {
        @include arrowstyle;
        margin: auto;
        left: 0px;
        right: 0px;
        position: absolute;
        top: -5%;
        &:hover {
            background-color: $arrow-hover;
        }
    }
    &__list {
        &--item {
            text-align: center;
            text-transform: uppercase;
                a {              
                font-size: 1rem;
                }
        }
    }
    &__copy {
        &--item {
            display: block;
            text-align: center;
            font-size: 0.875rem;
            animation-name: copyright;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: infinite;
            @keyframes copyright {
                0% {
                transform: translateY(0px);
                }
                25% {
                transform: translateY(20px);   
                }
                50% {
                transform: translateY(40px)
                }
                75% {
                transform: translateY(20px)
                }
                100% {
                 transform: translateY(0px)
                }
            }
        }
    }
}
