html {
    font-size: 16px;
}

a {
    color: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}

.header{
&__background {
    background: url(../images/cover.jpg);
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 53px;
}  
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 44px;
    background-color:#0271bc;
}

.header__menu--hamburguer {
    width: 16px;
    height: 14px;
}

.header__title {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;   
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 16px;
}

.header__arrow {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.section {
    padding: 30px 15px 45px 15px;
   
}
.section__tips {
    color: #8ccbea;
    font-size: 14px;
}
.section__title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 24px;
}
.section__paragraph {
    color: #4a4a4a;
    font-size: 18px;
}
.section__button {
    color: #f26002;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid #f26002;
    background-color: #ffffff;
}
.article {
    text-align: center;
    background-color: #eff9ff;
    padding-top: 30px;
    padding-bottom: 60px;
}
.article__container {
    text-align: center;
}
.article__button {
    color: #ffffff;
    background-color: #f26002;
    border-radius: 22.5px;
    border: 2px solid #f26002;
    width: 184px;
    height: 45px;
    padding:0px 30px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #304268;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 45px;
    position: relative;
}
.footer__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -5%;
}
.list-item {
    text-align: center;
    padding: 5px;
}
.footer__copy--item {
    display: block;
    text-align: center;
    padding: 5px
}

@media all and (min-width: 768px) {
    .footer {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer__lists--wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 50%;
    }
    .footer__arrow {
        top: -7%;
    }
    .footer__list--item {
        text-align: left;
    }
    .footer__copy--item {
        text-align: left;
        padding-top: 16px;
       
    }

}
@media all and (min-width: 1280px) {
.section {
    max-width: 730px;
    margin: auto;
}
.footer {
    justify-content: center;
}
}
