// colors
$white: #ffffff;
$hamburguer-back:#0271bc;
$hamburguer-hover: darkblue;
$insomnia-tips: #8ccbea;
$button: #f26002;
$arrow-hover:rgb(209, 202, 202);
$aside-back:#eff9ff;
$footer-back:#304268;
$font-paragraph:#4a4a4a;
// fonts
$slab: 'Roboto Slab', serif;


